@model ApertureCMS.Models.Gallery 

<!-- Modal -->
<div class="modal fade" id="createGalleryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create Gallery</h4>
            </div>
           
                @using (Html.BeginForm("Create", "Gallery", FormMethod.Post, new Dictionary<string, object>() { { "role", "form" } }))
    {
                     <div class="modal-body">
       
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Title)
                        @Html.EditorFor(model => model.Title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Tags)
                        @Html.EditorFor(model => model.Tags, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Tags)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Enabled)
                        @Html.EditorFor(model => model.Enabled)
                        @Html.ValidationMessageFor(model => model.Enabled)
                    </div>
                  
                         
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          }

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
