@model ApertureCMS.Models.Gallery

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="col-xs-2">

            @Html.HiddenFor(model => model.GalleryId);
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.Title)
                @Html.EditorFor(model => model.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Tags)
                @Html.EditorFor(model => model.Tags, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Tags)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Enabled)
                @Html.EditorFor(model => model.Enabled)
                @Html.ValidationMessageFor(model => model.Enabled)
            </div>
            <button type="submit" class="btn btn-default">Submit</button>


        </div>
        <div class="col-xs-4" id="selectable">

            @if (ViewBag.Images != null)
            {
                var images = (List<ApertureCMS.Models.Photo>)ViewBag.Images;
                for (int i = 0; i < images.Count; i++)
                {                  
               
                <div class="col-sm-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="@images[i].PhotoUrl" alt="...">
                    </a>
                    @if(!Model.Photos.Contains(images[i]))
                    {
                        <input name="PhotoIds" value="@images[i].PhotoId" type="checkbox" />
                    }else
                    {
                        <input name="PhotoIds" value="@images[i].PhotoId" type="checkbox" checked="checked" />
                        
                    }
                </div>
                }
            }

        </div>
        <div class="col-xs-4" id="gallery">
        </div>
    }
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
