@model ApertureCMS.Admin.Models.GalleryViewModel

@{
    ViewBag.Title = "Edit";
}

<div class="row-fluid">
    <div class="span12">
        <h2 class="page-title">Edit <small>Photo Gallery</small></h2>
    </div>
</div>
@using (Html.BeginForm("Edit", "Gallery", FormMethod.Post, new Dictionary<string, object>() { { "role", "form" } }))
{
                       
    <div class="row-fluid">
        <div class="span6">
            <section class="widget">
                <header>
                    <h4>
                        <i class="icon-align-left"></i>
                        @Model.Title
                    </h4>
                </header>
                <div class="body">
                    @Html.HiddenFor(model => model.GalleryId)

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="control-group controls-row">
                        @Html.LabelFor(model => model.Title, new { @class = "control-label" })
                        <div class="controls">
                            @Html.EditorFor(model => model.Title, new { @class = "span8" })
                        </div>
                    </div>
                    <div class="control-group controls-row">
                        @Html.LabelFor(model => model.Tags, new { @class = "control-label" })
                        <div class="controls">
                            @Html.EditorFor(model => model.Tags, new { @class = "span8" })
                        </div>
                    </div>
                    <div class="control-group controls-row">
                        @Html.LabelFor(model => model.Enabled, new { @class = "control-label" })
                        <div class="controls">
                            @Html.EditorFor(model => model.Enabled, new { @class = "span8" })
                        </div>
                    </div>

                    <div class="form-actions ">
                        <div>
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                            <button type="button" class="btn">Cancel</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="span6">
            <section class="widget">
                <header>
                    <h4>
                        <i class="icon-align-right"></i>
                        Available Photos
                    </h4>
                </header>
                <div class="body">
                    <ul class="thumbnails">
                        @Html.EditorFor(model => model.Photos)
                      @*  @foreach (var item in ViewBag.Images)
                        {
                            
                            <li class="span4">
                                <a href="#myModal" class="thumbnail" data-toggle="modal">
                                    <img src="@item.PhotoUrl" alt="">

                                </a>                                     
                               @Html.CheckBox("Photo", new { value = item.PhotoId, item.Selected })
                            </li>
                        }*@
                    </ul>
                </div>
            </section>
        </div>
    </div>
   
  
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
