@model ApertureCMS.Admin.Models.GalleryViewModel

@{
    ViewBag.Title = "Edit";
}

<style type="text/css">
    .check-image > input[type=checkbox] {
        display: none;
    }

    input[type=checkbox] + input[type=hidden] + img {
        cursor: pointer;
        border: 2px solid transparent;
    }

    input[type=checkbox]:checked + input[type=hidden] + img {
        border: 2px solid #f87a1e;
    }

    input[type=checkbox]:hover + input[type=hidden] + img {
        border: 2px solid #f87a1e;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h2 class="page-title">Edit <small>Photo Gallery</small></h2>
    </div>
</div>
@using (Html.BeginForm("Edit", "Gallery", FormMethod.Post, new Dictionary<string, object>() { { "role", "form" }, {"class","form-horizontal label-left"} }))
{

    <div class="row">
        <div class="col-md-6">
            <section class="widget">
                <header>
                    <h4>
                        <i class="fa fa-align-left"></i>
                        @Model.Title
                    </h4>
                </header>
                <div class="body">
                    @Html.HiddenFor(model => model.GalleryId)

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="control-group">
                        @Html.LabelFor(model => model.Title, new { @class = "control-label" })
                        <div class="controls form-group">
                            <div class="col-xs-12 col-sm-8">
                                @Html.EditorFor(model => model.Title, new { @class = "form-control" })
                            </div>
                        </div>

                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.Tags, new { @class = "control-label" })
                        <div class="controls form-group">
                            <div class="col-xs-12 col-sm-8">
                                @Html.EditorFor(model => model.Tags, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.ShareCode, new { @class = "control-label" })
                        <div class="controls form-group">
                            <div class="col-xs-12 col-sm-8">

                                <div class="input-group">
                                    @Html.EditorFor(model => model.ShareCode, new { @class = "form-control" })
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" id="generate-code" type="button">Generate</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <div class="control-group">
                        @Html.LabelFor(model => model.Protected, new { @class = "control-label" })
                        <div class="controls form-group">
                            <div class="col-xs-12 col-sm-8">

                                @Html.EditorFor(model => model.Protected, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.Enabled, new { @class = "control-label" })
                        <div class="controls form-group">
                            <div class="col-xs-12 col-sm-8">

                                @Html.EditorFor(model => model.Enabled, new { @class = "form-control" })
                            </div>
                        </div>

                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.CategoryId, new { @class = "control-label" })
                        <div class="controls form-group">
                            <div class="col-xs-12 col-sm-8">
                                @Html.DropDownListFor(model => model.CategoryId, ApertureCMS.Admin.HtmlExtensions.GetDropDownList<ApertureCMS.Models.Category>("--Select--"), new { @class = "span4" })
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div>
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                            <button type="button" class="btn">Cancel</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-6">
            <section class="widget">
                <header>
                    <h4>
                        <i class="fa fa-align-right"></i>
                        Available Photos
                    </h4>
                </header>
                <div class="body">
                    <div class="row">
                        <div class="thumbnails">
                            @Html.EditorFor(model => model.Photos)
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
