@model IEnumerable<ApertureCMS.Models.Gallery>

@{
    ViewBag.Title = "Index";
}
<div class="row">
     <div class="span12">
        <h2 class="page-title">Edit <small>Photo Gallery</small></h2>
    </div>
           
</div>
   
@Html.Partial("_CreateGalleryModal", new ApertureCMS.Models.Gallery())
 @foreach (var item in Model)
    {
<div class="row">   
        <div class="col-md-12">
            <section class="widget">
                <header>
                    <h4>
                        <i class="fa fa-align-left"></i>
                        @item.Title @Html.ActionLink("Edit", "Edit", new {id = item.GalleryId})
                    </h4>

                </header>
                <div class="body">
                    
                    <div class="row thumbnails" >
                        @foreach (var photo in item.Photos)
                        {
                            <div class="col-md-3">
                                <a href="#myModal" class="thumbnail" data-toggle="modal">
                                    <img src="@photo.MediumPhotoUrl" alt="">
                                </a>
                            </div>
                        }  
                        </div>
                </div>
                </section>
        </div>
    
</div>
 }
<div class="row">
    <div class="col-md-12">
        <section class="widget">
            <header>
                <h4>
                    <i class="fa fa-plus-sign"></i>
                    @Html.ActionLink("New Gallery", "Create")
                </h4>

            </header>
            <div class="body">
                Create a new Gallery
            </div>
        </section>
    </div>
</div>